<section>
    <h2>Networking</h2>

    <div style="text-align: left">
    <ul>
        <li>Docker encourages single purpose containers</li>
        <li>You end up fairly fast with more than one container per application environment</li>
        <li>Docker networking to the rescue</li>
    </ul>
    </div>

</section>