<section>
    <h2>How to connect containers</h2>

    <div style="text-align: left">
    <ul>
        <li>Use IP address of docker host with port mappings</li>
        <li>Link two containers</li>
        <li>Connect via docker networks</li>
        <li>Containers can access the host via the host IP address</li>
    </ul>

    </div>

</section>