<section>
    <h2>Data volume container</h2>

    <blockquote class="fragment" data-fragment-index="1">
        <p>If you have some persistent data that you want to share between containers, or want to use from non-persistent containers, it’s best to create a named Data Volume Container, and then to mount the data from it.</p>
    </blockquote>

    <div style="text-align: left" class="fragment" data-fragment-index="2">
    <pre><p class="command">
    $ docker create -v /tmp --name data-container busybox:1.24.1
    $ docker run --volumes-from data-container --name server busybox:1.24.1
    </p></pre>

    </div>

</section>