<section class="hands-on" data-state="hands-on">
    <h2>Hands-on Dockerfile</h2>
    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/dockerfile" target="_blank">lab</a>
    </p>

    <ul>
        <li>Create a simple docker image which prints something to stdout</li>
        <li>Create a dockerfile for our spring boot academy application</li>
    </ul>

</section>
