<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Docker</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link href='//fonts.googleapis.com/css?family=Roboto:300,700,400,100' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/node_modules/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="/build/stylesheets/main.css">
</head>
<body>

<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        {{slides}}
    </div>
</div>

<script src="/node_modules/reveal.js/lib/js/head.min.js"></script>
<script src="/node_modules/reveal.js/js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        multiplex: {
            // Example values. To generate your own, see the socket.io server instructions.
            secret: {{#if master}}'14501806922406189387'{{else}}null{{/if}}, // Obtained from the socket.io server. Gives this (the master) control of the presentation
            id: '573c4f6a4760a0f3', // Obtained from socket.io server
            url: '{{localAddress}}:1948' // Location of your socket.io server
        },

        // Optional reveal.js plugins
        dependencies: [
            { src: '/node_modules/reveal.js/lib/js/classList.js', condition: () => !document.body.classList } ,
            { src: '/node_modules/reveal.js/plugin/zoom-js/zoom.js', async: true },
            { src: '/node_modules/reveal.js/plugin/notes/notes.js', async: true },
            { src: '//cdn.socket.io/socket.io-1.3.5.js', async: true },
            {{#if master}}
                { src: '/node_modules/reveal.js/plugin/multiplex/master.js', async: true }
            {{else}}
                { src: '/node_modules/reveal.js/plugin/multiplex/client.js', async: true }
            {{/if}}
        ]
    });

    document.addEventListener('click', (event) => {
        var run = event.target.dataset['run'];

        if(run && window[run]) {
            window[run].call(null);
        }
    });
</script>

</body>
</html>
